{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <a href="{{ path('login') }}">вход</a><br />
    <a href="{{ path('profile') }}">страница пользователя</a>
{% endblock %}