{% extends "::base.html.twig" %}

{% block title %}Вход{% endblock %}

{% block body %}
    {% if error %}
        <div>Неверные данные.</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <div>
            <label for="username">имя:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">пароль:</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit">вход</button>
    </form>
{% endblock %}
