{% extends "::base.html.twig" %}

{% block title %}Страница пользователя{% endblock %}

{% block body %}
    Добрый день, {{ app.user.username }}
    (<a href="{{ path('logout') }}">выход</a>)
{% endblock %}

